* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 20vh auto;
    gap: 2em;
    align-items: center;
}

/* HEADER */

.header-content {
    color: #FFF;
}

.header-content h1 {
    font-size: 3em;
}

.header-content p {
    font-size: 0.9em;
    font-weight: 500;
}


/* FORM */

.try-btn {
    width: 100%;
    padding: 1.1em 3em;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 0.6em;
    background-color: hsl(248, 32%, 49%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 1.5em;
}

form {
    background-color: #FFF;
    border-radius: 0.6em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form input {
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 0.4em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.submit-btn {
    cursor: pointer;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    background-color: hsl(154, 59%, 51%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 3px 0px, rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
    transition: 0.3s;
}

.submit-btn:hover {
    transition: 0.3s;
    background-color: hsl(154, 60%, 65%);
}


form p {
    font-size: 0.8em;
    color: hsl(246, 25%, 77%);
    text-align: center;
    margin-top: 1.3em;
}

form p span {
    font-weight: bold;
    color: hsl(0, 100%, 74%);
}


/* FORM ERRORS */

.first-name-icon-error,
.last-name-icon-error,
.email-icon-error,
.password-icon-error {
    display: none;
    position: relative;
    margin-left: auto;
    top: -60px;
    margin-right: 10px;
}

.first-name-icon-error.active,
.last-name-icon-error.active,
.email-icon-error.active,
.password-icon-error.active {
    display: block;
}

.first-name-error,
.last-name-error,
.email-error,
.password-error {
    display: none;
    font-size: 0.8em;
    margin-left: auto;
    color: hwb(0 48% 0%);
    font-style: italic;
    font-weight: 600;
    position: relative;
    height: 0.8em;
}

.first-name-error.active,
.last-name-error.active,
.email-error.active,
.password-error.active {
    display: block;
    margin-top: -4em;
}

.placeholder-error::placeholder {
    visibility: hidden;
}



@media (max-width: 960px) {

    body {
        background-image: url(images/bg-intro-mobile.png);
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        width: 85%;
        margin-top: 10vh;
        justify-content: center;
        gap: 1em;
        align-items: center;
    }

    .header {
        text-align: center;
    }

    .header-content h1 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .header-content p {
        margin-bottom: 2em;
    }


    .try-btn {
        padding: 2.2em 3em;
    }

}